<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <h4>Login here</h4>
        <div *ngIf="errorShow" class="login-message text-center">{{error}}</div>
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>

        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>

        <button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn" (click)="resetForm()">Cancel</button>
        <span class="psw"><a href="/register">Not Registered</a></span>
    </div>
</form>