/* Bordered form */
form {
  border: 3px solid #f1f1f1;
  height: auto;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
    font: normal 12px Verdana, Arial, sans-serif;
}

h4 {
    color: green;
    font-size: 14px;
  }

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 16px;
  vertical-align:middle; 
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

.badgeColor{
  color: white !important;
}

.div-margin{
  margin-top: 10px;
}

.div-align{
  text-align: right;
}
